@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

/* header */
.social {
    position:fixed;  
    top:0;
    width: 100%;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.9);
}

.social_call {
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10%;
}

.social_call .help{
    margin:9px 20px 9px 0;
    text-decoration: underline;
    position: relative;
}
.social_call .user{
    margin:9px 10px 9px 0;
}
.social_call .help > li,
.social_call .user > li{
    padding:9px 0;
}
.social_call .social_item{
    margin-top: 8px;
    position: absolute;
    display:none;    
    height: auto;
    background:rgba(0, 0, 0, 0.7);
    border-radius:5px;
}
.social_item li{
    padding:5px;
}
.social_item li a{
    color: #fff;
    font-weight: 500;
}
.social_call li:hover .social_item,
.social_call  li:focus-within .social_item{
    display: block;
    z-index: 10;
}
.social_call a {
    color: #555;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 60px;
    padding: 0 10%;
}

.menu {
    display: flex;
}

.menu li {
    position: relative;
    margin: 18px;
    font-weight: 500px;
}
.menu li a{
    color: #333;
    padding:20px 0;
}
.menu .active{
    color: #4eb054;
}
.right_menu{
    display: flex;
    justify-content:center;
    align-items:center;
    width: 220px;
}
.right_menu a{
    margin: 0px 10px;
    font-size: 1.2rem;
    color: #333;
}

.menu > li > a:hover{
    color: #4eb054;
    transition: all ease 0.2s;
}

.right_menu a:hover i{
    color: #cf2728;
    transition: all ease 0.2s;
}

.logo {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #202020;
}

.logo span {
    color: #40aa50;
    font-size: 35px;
}

.menu .sale_lable {
    width: 38px;
    height: 17px;
    background-color: #f76b6a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    right: -20px
}

.sale_lable::after {
    content: '';
    width: 0px;
    height: 0px;
    border-bottom: 5px solid transparent;
    border-left: 3px solid transparent;
    border-top: 7px solid #f76b6a;
    border-right: 5px solid transparent;
    position: absolute;
    left: 10%;
    top: 100%;
}

.fa-solid,.fa-regular {
    position: relative;
}
/* search */
.right_menu .search_bar{
    position: relative;
    width: 100%;
    margin-right: 5px;
}
.right_menu .search{
    width: 100%;
    outline:none;
    padding:3px 0 3px 10px;
    color: #088178;
    border:1px solid #dcdde1;
    border-radius: 2px;
}
.right_menu .search_item{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#dcdde1;
    top: 0;
    right: 0;
    width: 24px;
    height:24px;
    margin:2px;
    color: #333;
    border-radius: 2px;
}
.right_menu .search:focus {
    border:1px solid #333;
}
.right_menu .search:focus+.search_item{
    background-color:#333;
    color: #fff;
}
.right_menu span {
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 0.8rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.right_menu .num1,
.right_menu .num2 {
    color: #fff;
    top: -15px;
    right: -15px;
}
.right_menu .num1{
    background-color: #f76b6a;
}
.right_menu .num2 {
    background-color: #4eb054;
}
.menu .sub-menu-1{
    position:absolute;
    cursor: pointer;
    display: none;
    width: 150px;
    border-radius: 10px;
    background:rgba(0, 0, 0, 0.1);
}
.sub-menu-1 > li{
    width: 100%;    
    position: relative;
}
.sub-menu-1 > li:hover > a{
    color: #f76b6a;
}
.sub-menu-1 i{
    position:absolute;
    padding-top:5px;
    right: 50px;
}
.sub-menu-1 .sub-menu-2,
.sub-menu-1 .sub_bottom{
    width: 100%;
    left:110px;
    display:none;
    position:absolute;
    border-radius: 10px;
    background:#f5f5f5;
    padding-left: 10px;
}
.sub-menu-1 .sub-menu-2{
    top: -20px;
}
.sub-menu-1 .sub_bottom{
    top: -12px;
}   
.sub-menu-1 ul li:hover{
    color: #f76b6a;
}
.menu li:hover > ul{
    margin-top:18px;
    display:block;
}
.sub-menu-1 li:hover .sub-menu-2,
.sub-menu-1 li:focus-within .sub-menu-2{
    display:initial;
}
.bar_mobile{
    display: none;
}
#close{
    display: none;
}
/* Recruit */
.shoe_new{
    background-color: #f5f5f5;
    display: flex;
    justify-content:center;
    align-items:center;
    margin-top: 10%;
}
.new_form{
    width: 1000px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,auto));
    grid-gap: 30px;
    margin:50px 50px;
}
.new_item{
    position: relative;
    background: #fff;
}
.new_item .new_img img{
    width:100%;
    height: 150px;
    object-fit: center;
    object-position: cover;
}
.new_item .new_img a{
    color: #333;
}
.new_item .new_text{
    padding:10px 20px;
}
.new_item .new_text h4{
    color: #333;
    font-size: 18px;
    font-weight:500;
    margin-bottom: 10px;
}
.new_item .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background:rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition:1s;
    opacity: 0;
}
.new_item:hover .overlay{
    opacity: 1;
}
.new_item .read{
    position: absolute;
    transform: translateX(-50%);
    bottom: 0;
    left:50%;
    width:60%;
    opacity: 0;
    text-align: center;
    transition:1s;
}
.read a{
    padding:5px;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}
.new_item hr{
    height:2px;
    background:#fff;
    border: none;
}
.new_item:hover .read{
    opacity: 1;
    margin-bottom: 60%;
} 
/* News */
.news_letter {
    display: grid;
    grid-template-columns: 0.7fr 0.7fr;
    grid-gap: 40px;
    background-color: black;
    padding: 30px 100px;
    color: #fff;
    margin: 50px auto;
    align-items: center;
    flex-wrap: wrap;
}

.news_text {
    font-size: 20px;
}

.news_form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 0 18px;
    border-radius: 8px;
    height: 80px;
}

.news_input {
    outline: none;
    border: none;
    width: 100%;
}

.news_form .button {
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 120px;
    height: 40px;
}
/* Footer */
.footer_section{
    display:flex;
    justify-content:space-around;
    margin: 80px 0 50px;
}
.insta .img_insta img{
    width:80px;
    height: 80px;
    padding:5px;
}
.col h3{
    font-size:25px;
    margin-bottom:30px;
}
.col ul li{
    padding-bottom:20px;
}
.col ul li a{
    color:#333;
}
.col ul li:hover{
    transform: scale(1.1);
}
.col_1 h5{
    display: flex;
    padding-bottom: 20px;
    font-size:15px;
    font-weight:400;
}
.col_1 h3{
    color:#4eb054;
}
.col_1 h3 span{
    font-size: 15px;
    color: black;
}
.col_1 .icon i{
    padding-right: 15px;
    font-size: 20px;
}
.col h4{
    padding: 0 0 20px;
    font-size: 20px;
    font-weight: 500;
}
.end{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
@media (max-width:1010px){
    .shoe_new{
        margin-top: 12%;
    }
    .new_item:hover .read{
        opacity: 1;
        margin-bottom: 35%;
    }
    .new_form{
        width: 800px;
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(250px,auto));
        grid-gap: 50px;
        margin:50px 100px;
    }
}
@media (max-width:856px){
    .shoe_new{
        margin-top: 15%;
    }
    .new_item:hover .read{
        opacity: 1;
        margin-bottom: 45%;
    }
    .new_form{
        width: 600px;
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(200px,auto));
        grid-gap: 40px;
        margin:50px 80px;
    }
    .menu{
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        position:fixed;
        top: -300px;
        left:0;
        width: 100%;
        background:#f5f5f5;
    }
    .menu li{
        margin:5px 60px;
        position: relative;
        padding:10px;
        border-bottom: 1px solid #333;
    }
    .menu li:nth-child(4){
        border:none;
    }
    .menu li:hover{
        background:#088178;
        border-bottom: 1px solid #088178;
        cursor: pointer;
    }
    .menu li:hover a{
        color:#fff;
    }
    .bar_mobile{
        display:flex;
        justify-content: center;
        align-items: center;
        font-size:28px;
        color:#333;
        display:initial;
        cursor: pointer;
    }
    .menu.active{
        top:100px;
    }
    #close{
        position:absolute;
        right:30px;
        top:10px;
        font-size: 25px;
        color:#333;
        display:initial;
    }
    #close:hover, .bar_mobile:hover{
        color:#088178;
    }
    .menu .sale_lable{
        display:none;
    }
    .menu > li:hover ul{
        display:none;
    }
}
@media (max-width:768px) {
    .shoe_new{
        margin-top: 20%;
    }
    .new_item:hover .read{
        opacity: 1;
        margin-bottom: 40%;
    }
    .new_form{
        width: 600px;
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(180px,auto));
        grid-gap: 40px;
        margin:50px 80px;
    }
    .news_letter{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer_section{
        margin: 0 30px;
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(250px,auto));
    }
    .footer_section .col{
        padding-bottom: 30px;
    }
}