@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}
body{
    background:url('../image/main/bg7.jpg') no-repeat center;
    background-size: cover;
}
.form_box{
    max-width: 500px;
    margin: 60px auto 40px;
    padding:30px 20px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    font-size:18px;
    box-shadow:20px 20px 20px rgba(0,0,0,0.5);
}
.form_box h3{
    text-align: center;
    margin-bottom: 30px;
}
.input_box{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.input_box input{
    width: 50%;
    margin-left: auto;
    padding: 10px 10px;
}
.input_box input:focus{
    background: #3cb6ef;
    color: #fff;
}
.input_button{
    display:flex;
    justify-content:space-around;
    text-align:center;
    margin:30px 30px 0;
}
.input_button button,.input_button a{
    background-color: #f76b6a;
    color: #fff;
    border:none;
    width:100px;
    height:40px;
    font-size:20px;
    border-radius: 5px;
}
.input_button a{
    padding-top:5px;
}
.input_button a:hover,
.input_button button:hover{
    background-color: #03a9f5;;
    color: #fff;
}
@media (max-width:991px) {
    .input_box {
        display:flex;
        flex-direction: column;
    }
    .input_box input {
        width: 100%;
        margin-top:5px;
    }
    .input_button{
        margin:30px auto 0;
    }
}