@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* header */
.social {
    position:fixed;  
    top:0;
    width: 100%;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.9);
}

.social_call {
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10%;
}

.social_call .help{
    margin:9px 20px 9px 0;
    text-decoration: underline;
    position: relative;
}
.social_call .user{
    margin:9px 10px 9px 0;
}
.social_call .help > li,
.social_call .user > li{
    padding:9px 0;
}
.social_call .social_item{
    margin-top: 8px;
    position: absolute;
    display:none;    
    height: auto;
    background:rgba(0, 0, 0, 0.7);
    border-radius:5px;
}
.social_item li{
    padding:5px;
}
.social_item li a{
    color: #fff;
    font-weight: 500;
}
.social_call li:hover .social_item,
.social_call  li:focus-within .social_item{
    display: block;
    z-index: 10;
}
.social_call a {
    color: #555;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 60px;
    padding: 0 10%;
}

.menu {
    display: flex;
}

.menu li {
    position: relative;
    margin: 18px;
    font-weight: 500px;
}
.menu li a{
    color: #333;
    padding:20px 0;
}
.menu .active{
    color: #4eb054;
}
.right_menu{
    display: flex;
    justify-content:center;
    align-items:center;
    width: 220px;
}
.right_menu a{
    margin: 0px 10px;
    font-size: 1.2rem;
    color: #333;
}

.menu > li > a:hover{
    color: #4eb054;
    transition: all ease 0.2s;
}

.right_menu a:hover i{
    color: #cf2728;
    transition: all ease 0.2s;
}

.logo {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #202020;
}

.logo span {
    color: #40aa50;
    font-size: 35px;
}

.menu .sale_lable {
    width: 38px;
    height: 17px;
    background-color: #f76b6a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    right: -20px
}

.sale_lable::after {
    content: '';
    width: 0px;
    height: 0px;
    border-bottom: 5px solid transparent;
    border-left: 3px solid transparent;
    border-top: 7px solid #f76b6a;
    border-right: 5px solid transparent;
    position: absolute;
    left: 10%;
    top: 100%;
}

.fa-solid,.fa-regular {
    position: relative;
}
/* search */
.right_menu .search_bar{
    position: relative;
    width: 100%;
    margin-right: 5px;
}
.right_menu .search{
    width: 100%;
    outline:none;
    padding:3px 0 3px 10px;
    color: #088178;
    border:1px solid #dcdde1;
    border-radius: 2px;
}
.right_menu .search_item{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#dcdde1;
    top: 0;
    right: 0;
    width: 24px;
    height:24px;
    margin:2px;
    color: #333;
    border-radius: 2px;
}
.right_menu .search:focus {
    border:1px solid #333;
}
.right_menu .search:focus+.search_item{
    background-color:#333;
    color: #fff;
}
.right_menu span {
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 0.8rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.right_menu .num1,
.right_menu .num2 {
    color: #fff;
    top: -15px;
    right: -15px;
}
.right_menu .num1{
    background-color: #f76b6a;
}
.right_menu .num2 {
    background-color: #4eb054;
}
.menu .sub-menu-1{
    position:absolute;
    cursor: pointer;
    display: none;
    width: 150px;
    border-radius: 10px;
    background:rgba(0, 0, 0, 0.1);
}
.sub-menu-1 > li{
    width: 100%;    
    position: relative;
}
.sub-menu-1 > li:hover > a{
    color: #f76b6a;
}
.sub-menu-1 i{
    position:absolute;
    padding-top:5px;
    right: 50px;
}
.sub-menu-1 .sub-menu-2,
.sub-menu-1 .sub_bottom{
    width: 100%;
    left:110px;
    display:none;
    position:absolute;
    border-radius: 10px;
    background:#f5f5f5;
    padding-left: 10px;
}
.sub-menu-1 .sub-menu-2{
    top: -20px;
}
.sub-menu-1 .sub_bottom{
    top: -12px;
}   
.sub-menu-1 ul li:hover{
    color: #f76b6a;
}
.menu li:hover > ul{
    margin-top:18px;
    display:block;
}
.sub-menu-1 li:hover .sub-menu-2,
.sub-menu-1 li:focus-within .sub-menu-2{
    display:initial;
}
.bar_mobile{
    display: none;
}
#close{
    display: none;
}
/* size */
.size{
    display: flex;
    justify-content:space-between;
    margin:15% 50px 10%;
}
.size_left{
    width: 80%;
    padding:0 20px;
}
.size_left h1{
    font-size:30px;
    padding-bottom: 40px;
}
.size_left h3{
    font-size:25px;
    padding-bottom: 30px;
    font-weight:550;
}
.size_left ul{
    font-size:20px;
    padding: 20px 0 20px 30px;
    list-style:disc;
}
.size_left ul li{
    padding-bottom: 5px;
}
.size_left > div{
    display: flex;
    flex-direction: column;
}
.size_left > div img{
    padding:10px 0 10px;
}
.size_left span{
    font-size:24px;
    font-weight:500;
}
.size_left p{
    padding:10px 0 20px;
    font-size: 20px;
}
.size_left h4{
    font-size:24px;
    font-weight:500;
}
.size_left img{
    width: 70%;
    object-fit:cover;
    padding-bottom: 10px;
}
.size_right{
    width: 250px;
    position: relative;
}
.list_item{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding:10px 0 10px;
} 
.list_item:hover{
    transform:scale(1.1);
}
.list_item img{
    width: 80px;
    height:80px;
    background-color:#f5f5f5;
    object-fit: cover;
}
.list_item .item_text{
    font-size:15px;
    color:#1d1d1d;
    padding:10px;
}
.list_item .item_text i{
    font-size:12px;
    color: gold;
}
.list_item .item_text h4{
    color:#088178;
}
/* News */
.news_letter {
    display: grid;
    grid-template-columns: 0.7fr 0.7fr;
    grid-gap: 40px;
    background-color: black;
    padding: 30px 100px;
    color: #fff;
    margin: 50px auto;
    align-items: center;
    flex-wrap: wrap;
}

.news_text {
    font-size: 20px;
}

.news_form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 0 18px;
    border-radius: 8px;
    height: 80px;
}

.news_input {
    outline: none;
    border: none;
    width: 100%;
}

.news_form .button {
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 120px;
    height: 40px;
}

/* Footer */
.footer_section{
    display:flex;
    justify-content:space-around;
    margin: 80px 0 50px;
}
.insta .img_insta img{
    width:80px;
    height: 80px;
    padding:5px;
}
.col h3{
    font-size:25px;
    margin-bottom:30px;
}
.col ul li{
    padding-bottom:20px;
}
.col ul li a{
    color:#333;
}
.col ul li:hover{
    transform: scale(1.1);
}
.col_1 h5{
    display: flex;
    padding-bottom: 20px;
    font-size:15px;
    font-weight:400;
}
.col_1 h3{
    color:#4eb054;
}
.col_1 h3 span{
    font-size: 15px;
    color: black;
}
.col_1 .icon i{
    padding-right: 15px;
    font-size: 20px;
}
.col h4{
    padding: 0 0 20px;
    font-size: 20px;
    font-weight: 500;
}
.end{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
@media(max-width:991px){
    .size{
        margin-top: 25vh;
    }
}
@media(max-width:768px){
    .news_letter{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer_section{
        margin: 0 30px;
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(250px,auto));
    }
    .footer_section .col{
        padding-bottom: 30px;
    }
}